.blogEntryBox {
  width: 90%;
}

.blogEntry-enter {
  opacity: 0.01;
}
.blogEntry-enter.blogEntry-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.blogEntryBox h1 {
  margin-top: 0px;
}
.blogEntryBox h2 {
  margin-top: 36px;
}
.blogEntryBox img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
