.blogListBox { }

.blogList-enter {
  opacity: 0.01;
}
.blogList-enter.blogList-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.blogListItem .blogEntryEmoticon {
  font-size: 1.5em;
}
.blogListItem .blogEntryDate {
  font-size: 1.2em;
}

.blogListItem { }
.blogListItem h2 {
  margin: 0px;
}

.blogListItem .blogEntryMeta {
  padding-top: 5px;
}
.blogListItem .blogEntryMeta .row {
  margin: 0px;
  padding: 0px;
}
