.blogListBox {
  width: 80%;
  margin: 0 auto;
}

.blogListItem {
  margin-bottom: 42px;
}

.blogListItem .blogEntryMeta {
  padding-top: 5px;
  text-align: center;
}

.blogListItem .blogEntryMeta .row {
  margin: 0px;
  padding: 0px;
}

.blogListItem .blogEntryEmoticon {
  font-size: 2em;
}

.blogListItem .blogEntryDate {
  font-size: 1.2em;
}
