.header {
  padding-bottom: 22px;
}

.headerLinks {
  word-spacing: 10px;
  font-size: 0.5em;
}

.headerLinks a {
  color: #333;
  font-weight: bold;
  text-decoration: line-through;
}

.headerBorder {
  padding-top: 2px;
  border-bottom: 2px solid #000;
}

.header h1 {
  margin: 0px;
}
